<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MainDbConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDb;Initial Catalog=IntegrationTestDb;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="IntellisenseCount" value="15" />
    <add key="PageSize" value="15" />
  </appSettings>
</configuration>
